body {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background: url(Images/bgrefrain3.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 22px;
	margin: 0px;
}

.small {
	font-size: 18px;
}

.normal {
	font-size: 22px;
}

.large {
	font-size: 26px;
}

.huge {
	font-size: 32px;
}

p {
	margin: 0;
	padding: 0;
}

/* Colors */

.pink {
	color: #CC0099;
}

.bgpink {
	background-color: #CC0099;
}

.darkpink {
	color: #990099;
}

.bgdarkpink {
	background-color: #990099;
}

.darkblue {
	color: #000033;
}

.bgdarkblue {
	color: #000033;
}

.blue {
	color: #0066FF;
}

.bgblue {
	background-color: #0066FF;
}

.lightblue {
	color: #0099FF;
}

.bglightblue {
	background-color: #0099FF;
}

/* Header */

#headcontainer {
	height: 139px;
	position: relative;
	width: 100%;
}

#headtext {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.transdarkblue {
	-khtml-opacity: .75;
	-moz-opacity: .75;
	-ms-filter: "alpha(opacity=75)";
	background-color: #000033;
	filter: alpha(opacity=75);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	height: 100%;
	left: 0;
	opacity: .75;
	top: 0;
	width: 100%;
}

.transblue {
	-khtml-opacity: .75;
	-moz-opacity: .75;
	-ms-filter: "alpha(opacity=75)";
	background-color: #0066FF;
	filter: alpha(opacity=75);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	opacity: .75;
}

div.menublock {
	color: #ffffff;
	font-size: 22px;
	padding: 10px;
	width: 900px;
	text-align: left;
}

div.menublock table{
	margin: 0;
	padding: 0;
	width: 900px;
}

.menubutton {
	background-color: transparent;
	color: #ffffff;
	display: inline-block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.menubutton.Selected {
	background-color: #cc0099;
	color: #ffffff;
}

.menubutton:hover {
	background-color: #cc0099;
	color: #ffffff;
}

.menubutton:active {
	background-color: #cc0099;
	color: #ffffff;
	position: relative;
	top: 1px;
}

/* Content */

.wbg {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 900px;
}

.mainblock {
	color: #ffffff;
	font-size: 22px;
	padding: 10px;
	padding-top: 30px;
	width: 900px;
}

.mainblock > h1 {
	width: 880px;
	margin: 0;
	margin-top: 20px;
	padding: 10px;
	
	text-align: center;
	font-size: 26px;
	
	-ms-opacity: 0.75;
	opacity: 0.75;

	background-color: #141A51;
}

.mainblock > div
{
	width: 880px;
	margin: 0;
	padding: 10px;

	background-color: #0066FF;
}

.mainblock > div > h2
{
	margin: 10px 0;
	padding: 0;

	font-size: 22px;
}

.SeperatedSection {
	margin-bottom: 40px !important;
}

.SeperatedSection p {
	margin: 10px 0;
}

.TwitterTimeline {
	width: 520px;
	margin-left: auto;
    margin-right: auto
}

.HelpText {
	margin-top: 3px;
	font-size: 18px;
	padding: 5px;
	background-color: #0099FF;
}

/* Front */

.FrontImage {
	margin-right: 20px;
	float: left;
}

/* Match */

#SongQuery
{
	width: 880px;

	color: white;
	font-size: 25px;

	padding: 3px;
	border: 1px solid #141A51;
	background-color: #0099FF;
}

#SongQuery:focus
{
	border-color: #cc0099;
}

.QueryHelp a
{
	font-style: italic;
}

.SongMatch
{
	color: white;
	margin: 1px;
	padding: 3px;
	background-color: #0099FF;
}

.SongMatch:hover 
{
	background-color: #cc0099;
}

.SongMatch.Selected
{
	background-color: #cc0099;
}

.SongMatch p 
{
	margin: 0;
	padding: 0;

	color: white;
}

.SongMatch .Title 
{
	font-style: italic;
}

.SongFullInfo 
{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	padding: 5px;
}

#CompareFullInfo {
	float: right;
}

.SongTitle 
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;

	background-color: #0099FF;
}

.SongTitle .Title 
{
	font-style: italic;
}

.CompareIcon 
{
	margin-top: 270px;
}

#ShareContainer 
{
	margin: 10px;
	padding: 10px;

	clear: both;

	background-color: #0099FF;
}

#ShareMatchOnTwitter {
	display: inline-block;
	vertical-align: middle;
}

#ShareMatchOnFacebook {
	display: inline-block;
	vertical-align: middle;

	margin-top: -8px;
}

#SimilarityContainer {
	margin: 10px 20px;
}

#SimilarityGraphLegend 
{
	display: inline-block;
	margin-top: 10px;
	margin-right: 15px;
}

#SimilarityGraph 
{
	margin-top: 7px;
	display: inline-block;
	border-left: 1px solid white;
	border-right: 1px solid white;
	vertical-align: top;
	width: 500px;
}

.SimilarityBar 
{
	padding: 0;
	margin: 10px 0;
	background-color: #cc0099;

	height: 18px;

	display: block;
}

#MinMaxGraph {
	margin-left: 103px;
	width: 500px;
}

#MinGraph {
	text-align: left;
}

#MaxGraph {
	float: right;
}

/* About */

.ImageLeft {
	float: left;
}

.NoFloat {
	clear: both;
}

.Strong {
	font-weight: bold;
}

/* Link styles */

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #cc0099;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.text:link {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

a.text:hover {
	background-color: #cc0099;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}

a.text:active {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

a.text:visited {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.button {
	background-color: #cc0099;
	color: #ffffff;
	display: inline-block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 200px;
}

.button:hover {
	background-color: #990099;
	color: #ffffff;
}

.button:active {
	background-color: #cc0099;
	color: #ffffff;
	position: relative;
	top: 1px;
}

.buttonsqpink {
	background-color: #cc0099;
	color: #ffffff;
	display: inline-block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 30px;
}

.buttonsqpink:hover {
	background-color: #990099;
	color: #ffffff;
}

.buttonsqpink:active {
	background-color: #cc0099;
	color: #ffffff;
	position: relative;
	top: 1px;
}

.buttonsqblue {
	background-color: #0099FF;
	color: #ffffff;
	display: inline-block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	width: 40px;
}

.buttonsqblue:hover {
	background-color: #0066FF;
	color: #ffffff;
}

.buttonsqblue:active {
	background-color: #0099FF;
	color: #ffffff;
	position: relative;
	top: 1px;
}